<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Dear <%= @watcher.username %>,</h2>
    <h3>
    The ticket <%= @ticket_title %> has been <%= @status %> by <%= @user %> due to <%= @reason %>
</h3>
</body>
</html>