<center>
    <div class="container" id="edit_user">

<h1>Change Password</h1>
<%= form_with(model: user, remote: true) do |form| %>
  <% if user.errors.any? %>
    <div class="errors" id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="edit_user">
        <div class="item">
  <div class="password_restore_form">
<div class="password_rules">
<p><center><strong id="edit_title">Password Rules</strong></p>
<p><li id="password_length">Password must be at least 8 characters</li></p>
<p><li id="password_match">Password doesn't match with password confirmation</li></p>

</center>
      <!-- Username -->
       <div class="item">
      <div class="control-group">
    <%= form.label :username, "Username" %>
    <%= form.text_field :username, :disabled => true, class: "form-control", id: "old_password" %>
  </div>
  
    <div class="control-group">
      <!-- Password-->
        <%= form.label :old_password, "Old Password *" %>
        <%= form.password_field :old_password, id: "old_password", class: "form-control", placeholder: "Old Password" %>      <div class="controls">
        <p class="help-block"></p>
    </div>
 
    <div class="control-group">
      <!-- Password-->
        <%= form.label :password, "New Password *" %>
        <%= form.password_field :password, id: "password", class: "form-control", placeholder: "New Password" %>      <div class="controls">

    </div>
 
    <div class="control-group">
      <!-- Password -->
        <%= form.label :password_confirmation, "Password confirmation *" %>
        <%= form.password_field :password_confirmation, class: "form-control", id: "password_comf", placeholder: "Password confirmation" %>
      <br>
    </div>
        <%= form.submit "Update" %>
    </div>
    </div>

</center>
<%= javascript_pack_tag 'password_rules_check' %>

  <% end %>