<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Password Reset</title>
  </head>
  <body>
    <center>
      <div class="forgoten_password_restore_form">
<div class="forgoten_password_rules">
<p><center><strong id="edit_title">Password Rules</strong></p>
<p><li id="password_length">Password must be at least 8 characters</li></p>
<p><li id="password_match">Password doesn't match with password confirmation</li></p>
</div>
</div>
    <div class="Login_Form">
    <%= form_for(:user, id: 'forms', :url => {:controller => 'users', :action => 'set_new_password'}, :html => { id: "forms" }) do |f| %> 
        <br>
        <br>
        <div class="text-center mt-5">
        <div class="login-form">
        <h2 id="Log_in" class="text-center">Password Reset</h2>       
        <div class="form-group">
        <%= f.password_field :password, class: "form-control", placeholder: "New password", id: "forgoten_password" %>
        </div>
        <div class="form-group">
      <%= f.password_field :password_confirmation,  class: "form-control", placeholder: "New Password Comfirmatin", id: "forgoten_password_comf" %>
        </div>

        <div class="form-group">
              <%= f.submit :Update, class: 'btn btn-primary btn-block', id: "passwordButton"%>
        </div>
        <% flash.each do |type, msg| %>
          <div class="messages_erros">
            <strong><li><center><%= msg %></center></li></strong><br>
          </div>
        <% end %>
        <div class="clearfix">
      </div>
      <% end %>
      <%= javascript_pack_tag 'password_rules_check' %>
      <br>
      <br>
      </div>
      <br>
      </div>
      </center>